.board {
  background-color: #889696;
  box-shadow: 8px 12px 5px 6px rgb(165, 91, 91);
  border-width: 2px;
  border-radius: 6px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 25vw;
  margin-left: 1vw;
  margin-right: 1vw;
  height: 90%; 
  margin-bottom: 3%; 
  overflow-y: auto;

}

.cardsContainer {
    display: flex;
    flex-direction: column;
    align-items: center;  
    height: 80%; 
    width: 100%;
}
