html { background-color: #E0E2DB;}
#appContainer {
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    height: 100vh;
    max-height: 200vh;
    max-width: 100%; 
    flex: 1;
 
}